<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/css/beta.css">
<% end %>

<center>
  <img class="sulogo" src="/img/ts_logo_stacked_gray.jpg"></img>
  <div class="su-container">

    <%= form_for(User.new, :as => :user, :url => registration_path(:user) ) do |f| %>
      <p class="su-user-email"><%= params[:email] %></p>

      <small class="su-helper-txt">Password must be at least 8 characters</small>

      <div class="su-input-container">
        <%= f.password_field :password, :placeholder => 'password', :class => 'su-input', id: 'password' %>
      </div>

      <div class="su-input-container">
        <%= f.password_field :password_confirmation, :placeholder => 're-enter password', :class => 'su-input', id: 'repassword' %>
      </div>


      <%#- too busy to restyle disabled input %>
      <%= f.hidden_field :email, value: params[:email] %>
      <%= f.hidden_field :beta_user, value: true %>
      <%= f.hidden_field :beta_tester_agreement, value: true %>
      <%= f.hidden_field :access_code, value: params[:code] %>

      <%= f.submit 'Submit', id: 'su-submit-btn' %>
       
    <% end %>

  </div>
</center>
<script src="/js/util.js"></script>
<script>
var inputs = document.getElementsByClassName("su-input");
inputs[0].onfocus = function () { toggleClass.apply(inputs[0].parentNode, ["focused"]); };
inputs[0].onblur = function () { toggleClass.apply(inputs[0].parentNode, ["focused"]); };
inputs[1].onfocus = function () { toggleClass.apply(inputs[1].parentNode, ["focused"]); };
inputs[1].onblur = function () { toggleClass.apply(inputs[1].parentNode, ["focused"]); };
</script>
