<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/beta.css">
<% end %>

<div class="scroller">

<%= form_for(User.new, :as => :user, :url => registration_path(:user) ) do |f| %>
  <center>
    <img class="tslogo" src="http://assets.tagsurf.co/img/ts_logo_stacked_gray.png"></img>
    <div class="su-container">

      <div class="su-input-container light-bottom-margin">
        <%= f.email_field :email, :placeholder => 'email', :class => 'su-input bigplace', id: 'email', autocomplete: "off", spellcheck: "false", autocapitalize: "off", autocorrect: "off" %>
      </div>

      <small class="su-helper-txt">Password must be at least 8 characters</small>

      <div class="su-input-container">
        <%= f.password_field :password, :placeholder => 'password', :class => 'su-input bigplace', id: 'password', autocomplete: "off", spellcheck: "false", autocapitalize: "off", autocorrect: "off" %>
      </div>

      <div class="su-input-container">
        <%= f.password_field :password_confirmation, :placeholder => 're-enter password', :class => 'su-input bigplace', id: 'repassword', autocomplete: "off", spellcheck: "false", autocapitalize: "off", autocorrect: "off" %>
      </div>

      <%= f.submit 'Submit', id: 'su-submit-btn' %>
      

    </div>
  </center>
<% end %>

<%= link_to "<span class='ts-blue'>Already have an account?</span> Login here.".html_safe, '/users/sign_in', class: 'link-to-login twelve light-gray' %>

<small class="su-helper-txt disclaimer">By registering with tagSurf you agree to our <div class="disclaimer-link inline bold" id="terms-lnk">Terms of Use</div> and <div class="disclaimer-link inline bold" id="privacy-lnk">Privacy Policy</div>.</small>

</div>

<script src="/js/tos_pp.js"></script>
<script src="/js/util.js"></script>
<script src="/js/gesture.js"></script>
<script src="/js/modal.js"></script>

<script>
var inputs = document.getElementsByClassName("su-input");
inputs[0].onfocus = function () { toggleClass.apply(inputs[0].parentNode, ["focused"]); };
inputs[0].onblur = function () { toggleClass.apply(inputs[0].parentNode, ["focused"]); };
inputs[1].onfocus = function () { toggleClass.apply(inputs[1].parentNode, ["focused"]); };
inputs[1].onblur = function () { toggleClass.apply(inputs[1].parentNode, ["focused"]); };
inputs[2].onfocus = function () { toggleClass.apply(inputs[2].parentNode, ["focused"]); };
inputs[2].onblur = function () { toggleClass.apply(inputs[2].parentNode, ["focused"]); };
addCss({
  ".scroller": function() {
    return "height: " + window.innerHeight + "px;";
  }
});
initDocLinks();
</script>
