<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/beta.css">

<img class="toplogo" src="/img/ts_logo_horiz_gray.png">
<div class="small content">
 <div class="biggest">
  TAGSURF CORP. BETA TEST AGREEMENT
 </div>
 <div>
  Thank you for your interest in becoming a tagSurf beta tester.  As part of the beta test, tagSurf will provide you with access to a beta version of the tagSurf Service (“Service”) and related software (“Software”) subject to the terms of this Beta Test Agreement (“Agreement”).  By using the Service you agree to be bound by this Agreement and to use the Service and Software in compliance with this Agreement.
 </div>
 <div>
  BEFORE YOU CLICK ON THE “I ACCEPT AND AGREE” BUTTON AT THE END OF THIS DOCUMENT, CAREFULLY READ THE TERMS OF THIS AGREEMENT.  BY CLICKING ON THE “I ACCEPT AND AGREE” BUTTON, YOU ARE AGREEING TO BE BOUND BY AND ARE BECOMING A PARTY TO THIS AGREEMENT.  IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT, CLICK THE “DECLINE” BUTTON AND YOUR BETA USER ACCOUNT WILL NOT BE CREATED.
 </div>
 <div>
  The terms "you," "your," and "yours" refer to you, the person using the Service.  The terms "tagSurf," "we," "us," and "our" refer to tagSurf Corp.
 </div>
 <div class="bold">
  Beta Program
 </div>
 <div>
  tagSurf has not commercially released the Service and Software, and the Service and Software have not yet been tested like other commercially released services or software that you may use.  Therefore, it is likely that the Service and Software will contain errors, including errors that may cause the Service, Software or your computer or mobile device to malfunction or cause a loss of data.  If you do not wish to accept the risk of errors in the Software, please do not use the Service.  Furthermore, tagSurf is not obligated to correct errors, correct the effects of errors (e.g., fix your computer or recover lost data), or provide any technical support related to use of the Service or Software.
 </div>
 <div>
  To help tagSurf prepare the Service and Software for commercial release, tagSurf is providing you with access to the Service and a copy of the Software so that you can test and evaluate the Service and Software and provide feedback concerning the Service and Software, including identifying potential errors and improvements (“Feedback”).  You hereby grant tagSurf the unrestricted right to use your Feedback, including to use your Feedback to improve the Service and Software and create other products and services.
 </div>
 <div>
  THE SERVICE AND SOFTWARE HAVE NOT BEEN MADE AVAILABLE TO THE PUBLIC AND TAGSURF DESIRES TO MAINTAIN THE CONFIDENTIALITY OF THE SERVICE AND SOFTWARE UNTIL IT IS COMMERCIALLY RELEASED.  ACCORDINGLY, DURING THIS BETA TRIAL AND FOR A PERIOD OF 12 MONTHS FOLLOWING THE CONCLUSION OF THIS TRIAL OR DELETION OF YOUR BETA USER ACCOUNT, YOU WILL TAKE REASONABLE STEPS TO MAINTAIN THE CONFIDENTIALITY OF AND NOT DISCLOSE TO ANY THIRD PARTY THAT IS NOT TESTING THE SERVICE AND SOFTWARE:
 </div>
 <div>
  (A) THE TERMS OF THIS AGREEMENT;
 </div>
 <div>
  (B) ALL NON-PUBLIC INFORMATION DISCLOSED BY TAGSURF TO YOU UNDER THIS AGREEMENT INCLUDING SCREENSHOTS, DESIGNS AND FUNCTIONALITY OF THE SOFTWARE AND SERVICE, AND;
 </div>
 <div>
  (C) ALL FEEDBACK, SERVICE AND SOFTWARE PERFORMANCE DATA, AND ALL OTHER INFORMATION OBTAINED THROUGH YOUR TESTING AND EVALUATION OF THE SERVICE OR SOFTWARE.
 </div>
 <div>
  FURTHERMORE, IN ORDER TO PROTECT THE TRADE SECRETS AND PROPRIETARY KNOW-HOW CONTAINED IN THE SOFTWARE, YOU WILL NOT DECOMPILE, DISASSEMBLE, OR REVERSE ENGINEER THE SOFTWARE.
 </div>
 <div class="bold">
  Account Registration
 </div>
 <div>
  You must register for and maintain an account with us to use the Service.  When registering, you must provide accurate and complete information about yourself and promptly update this information.  If you provide any information that is inaccurate or incomplete, or we have reason to believe that the information is inaccurate or incomplete, we may suspend or terminate your account and your use of the Service.
 </div>
 <div>
  Only you are authorized to use your account to use the Service and conduct other activities with us.  You are responsible for all activities that occur through your account.  To protect your account from unauthorized use, keep your user identification and password secure and do not provide this information to anyone else.  Please notify us immediately of any unauthorized use of your account or any other breach of security.
 </div>
 <div class="bold">
  Termination
 </div>
 <div>
  You have the right to terminate your account at any time.  Termination of your account is your sole right and remedy with respect to any dispute with us regarding the Service, the Software, or this Agreement. We may terminate your account at any time for any reason by providing you with notice in any reasonable manner, including via email and via notices posted on the Service. Your rights under this Agreement will terminate automatically if you breach any part of this Agreement.
 </div>
 <div>
  Access to the Service; Modifications to the Service
 </div>
 <div>
  We do not provide you with the equipment to access the Service or use the Software.  You are responsible for all fees charged by third parties to access the Service (e.g., data charges by wireless carriers).
 </div>
 <div>
  We reserve the right to modify or discontinue, temporarily or permanently, all or a part of the Service without notice.  We will not be liable to you or to any third party for any modification, suspension, or discontinuance of the Service, except that you are only entitled to a prorated refund representing the unused (as of the date of termination) portion of any subscription fees that you have paid in advance if we permanently discontinue the Service.
 </div>
 <div class="bold">
  Restrictions
 </div>
 <div>
  You must comply with all applicable laws, including U.S. export control laws, when using the Service and Software.  Except as may be expressly permitted by applicable law or authorized by us in writing, you will not, and will not permit anyone else to: (a) store, copy, modify, distribute, or resell any of the information; audio, visual, and audiovisual works; or other content made available through the Service or Software (“Service Content”) or compile or collect any Service Content as part of a database or other work; (b) use any automated tool (e.g., robots, spiders) to use the Service or store, copy, modify, distribute, or resell any Service Content; (c) rent, lease, or sublicense your access to the Service to another person; (d) use the Service, Software, or Service Content for any purpose except for your own personal use; (e) circumvent or disable any digital rights management, usage rules, or other security features of the Service or Software; (f) use the Service or Software in a manner that threatens the integrity, performance, or availability of the Service; or (g) remove, alter, or obscure any proprietary notices (including copyright notices) on any portion of the Service, Software, or Service Content.
 </div>
 <div class="bold">
  License to Software
 </div>
 <div>
  Subject to the terms of this Agreement, we grant to you a limited, personal, non-exclusive, non-transferable license to one user account for use of the Service to the extent you have the right to access the Service.  Your right to access the Service will be limited by the terms of this Agreement.  This license expires when our beta test program is completed and your beta user account may be removed at such time.
 </div>
 <div>
  Except for this license granted to you, we retain all right, title, and interest in and to the Software, including all related intellectual property rights. The Software is protected by applicable intellectual property laws, including United States copyright law and international treaties.
 </div>
 <div>
  Except as otherwise explicitly provided in this Agreement or as may be expressly permitted by applicable law, you will not, and will not permit or authorize third parties to: (a) reproduce, modify, translate, enhance, decompile, disassemble, reverse engineer, or create derivative works of the Software; (b) rent, lease, or sublicense the Software; nor (c) circumvent or disable any security or technological features or measures in the Software.
 </div>
 <div class="bold">
  Privacy Policy
 </div>
 <div>
  We may collect registration and other information about you through the Service and Software. Our collection and use of this information is governed by the Privacy Policy available at <a href="http://www.tagsurf.co/privacy" class="blue">www.tagsurf.co/privacy</a>.
 </div>
 <div class="bold">
  Links and Third Party Content
 </div>
 <div>
  The Service and Software may contain links to third party products, services, and websites.  We exercise no control over the third party content, products, services, and websites and we are not responsible for their performance, do not endorse them, and are not responsible or liable for any content, advertising, or other materials available through the third party content, products, services, and websites.  We are not be responsible or liable, directly or indirectly, for any damage or loss caused to you by your use of or reliance on any goods or services available through the third party content, products, services, and websites.
 </div>
 <div class="bold">
  Disclaimer of Warranties
 </div>
 <div>
  YOUR USE OF THE SERVICE, SOFTWARE, AND SERVICE CONTENT IS AT YOUR SOLE RISK.  SERVICE, SOFTWARE, AND SERVICE CONTENT ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS.  TAGSURF EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.  WE DO NOT GUARANTEE THE ACCURACY, COMPLETENESS, OR USEFULNESS OF THE SERVICE CONTENT, AND YOU RELY ON THE SERVICE CONTENT AT YOUR OWN RISK.  ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR DEVICE OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY MATERIAL THROUGH THE SERVICE.  NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM TAGSURF OR THROUGH OR FROM THE SERVICE WILL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THIS AGREEMENT.  SOME STATES MAY PROHIBIT A DISCLAIMER OF WARRANTIES AND YOU MAY HAVE OTHER RIGHTS THAT VARY FROM STATE TO STATE.
 </div>
 <div class="bold">
  Limitation of Liability
 </div>
 <div>
  TAGSURF WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF TAGSURF HAS BEEN ADVISED OF THE POSSIBILITY OF THESE DAMAGES), RESULTING FROM YOUR USE OF THE SERVICE, SOFTWARE, AND SERVICE CONTENT.  UNDER NO CIRCUMSTANCES WILL TAGSURF'S TOTAL LIABILITY OF ALL KINDS ARISING OUT OF OR RELATED TO THIS AGREEMENT (INCLUDING BUT NOT LIMITED TO WARRANTY CLAIMS), REGARDLESS OF THE FORUM AND REGARDLESS OF WHETHER ANY ACTION OR CLAIM IS BASED ON CONTRACT, TORT, OR OTHERWISE, EXCEED THE TOTAL AMOUNT PAID BY YOU TO TAGSURF FOR THE SERVICE OR SOFTWARE.  BECAUSE SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU.
 </div>
 <div class="bold">
  Copyright Infringement
 </div>
 <div>
  If you believe that your work has been copied or displayed in a way that constitutes copyright infringement, or your intellectual property rights have been otherwise violated, please provide us with a description of the copyrighted work or other intellectual property that you claim has been infringed, a description of where the material that you claim is infringing is located on the Service, your address, telephone number, and email address, and a statement by you that this information in your notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner's behalf.  Please report this information by email to <a class="blue" href="mailto:beta@tagSurf.co">beta@tagSurf.co</a>.
 </div>
 <div class="bold">
  Indemnity
 </div>
 <div>
  You will indemnify and hold tagSurf, and its subsidiaries, affiliates, officers, agents, and employees, harmless from any costs, damages, expenses, and liability caused by your use of the Service, Software, or Service Content, your violation of this Agreement, or your violation of any rights of a third party through use of the Service, Software, or Service Content.
 </div>
 <div class="bold">
  Legal Notices
 </div>
 <div>
  This Service and License Agreement is governed by the laws of the State of Delaware, excluding conflicts of law principles. Any legal actions against us must be commenced in the State of California within one year after the claim arose. You consent to the exclusive jurisdiction of the state and federal courts located in San Francisco County, California.
 </div>
 <div class="bold">
  Contacting tagSurf
 </div>
 <div>
  If you have any questions or concerns about this Service and License Agreement or the Service or Software, please send us a thorough description by email to <a class="blue" href="mailto:beta@tagSurf.co">beta@tagSurf.co</a>.
 </div>
 <div class="bigger bold blue pointer" id="privacy-btn">
  PRIVACY POLICY &gt;
 </div>
 <div class="input-border-container nopad top-margin">
   <input class="ts-input" type='email' id="get-email-input" onkeyup="updateForm()" placeholder="email" autocomplete="off" spellcheck="false" autocapitalize="off" autocorrect="off" >
 </div>
</div>

<div class="bigger bottom">

  <%= form_for(:access_code, url: '/confirm-terms', :html => { :method => :post }) do |f| %>
    <%= f.hidden_field :email, value: '', id: 'set-email-input' %>
    <%= f.hidden_field :access_code, value: params[:code] %>
    <%= f.hidden_field :d_accept, value: params[:d_accept] %>
    <%= f.hidden_field :t_accept, value: true %>
    <%= f.submit "I agree", class: 'forward button' %>
    <a href="/" class="back button">Decline</a>
  <% end %>

  <script>
    var setElement = document.getElementById("set-email-input");
    var getElement = document.getElementById("get-email-input");
    function updateForm(){
      setElement.value = getElement.value
    };
  </script>

</div>


<div class="hidden"><div id="privacy">
 <div class="bigger bigpadded">
  TAGSURF PRIVACY POLICY
 </div>
 <div class="small content">
  <div><i>
   Your privacy is critically important to us. At tagSurf we have a few fundamental principles:
  </i></div>
  <ul>
   <li>
    We don't ask you for personal information unless we truly need it.
   </li>
   <li>
    We don't share your personal information with anyone except to comply with the law, develop our products, or protect our rights.
   </li>
   <li>
    We don't store personal information on our servers unless required for the ongoing operation of one of our services.
   </li>
  </ul>
  <div>
   Below is our privacy policy which incorporates these goals: (Note this privacy policy is available under a Creative Commons Sharealike license originally provided by Automattic (WordPress.com), which means you’re more than welcome to repurpose it for your own use, just make sure to replace references to tagSurf with ones to your service.)
  </div>
  <div>
   If you have questions about deleting or correcting your personal data please contact us at <a class="blue" href="mailto:beta@tagSurf.co">beta@tagSurf.co</a>.
  </div>
  <div>
   tagSurf Corp. (“tagSurf”) operates several websites including tagSurf.co.  It is tagSurf’s policy to respect your privacy regarding any information we may collect while operating our websites.
  </div>
  <div class="bold">
   Website Visitors
  </div>
  <div>
   Like most website operators, tagSurf collects non-personally identifiable information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. tagSurf’s purpose in collecting non-personally identifying information is to better understand how tagSurf’s visitors use its website. From time to time, tagSurf may release non-personally identifiable information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
  </div>
  <div>
   tagSurf also collects potentially PERSONALLY-IDENTIFIABLE INFORMATION like Internet Protocol (IP) addresses for logged in users and for users who post content or leave comments on tagSurf websites. tagSurf only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses all personally identifiable information as described below.
  </div>
  <div class="bold">
   Gathering of PERSONALLY-IDENTIFIABLE INFORMATION
  </div>
  <div>
   Certain visitors to tagSurf’s websites choose to interact with tagSurf in ways that require tagSurf to gather PERSONALLY-IDENTIFIABLE INFORMATION. Examples of PERSONALLY-IDENTIFIABLE INFORMATION include name, email address, mailing address, mobile phone number, and credit card or other billing information. PERSONALLY-IDENTIFIABLE INFORMATION also includes other information, such as date of birth, geographic area, or preferences, when any such information is linked to information that identifies a specific individual. The amount and type of information that tagSurf gathers depends on the nature of the interaction. For example, we ask visitors who sign up for an account at tagSurf.co to provide an email address. 
  </div>
  <div>
   tagSurf may also obtain information, including PERSONALLY-IDENTIFIABLE INFORMATION, from third parties and sources, such as our partners, advertisers, and public databases. If we combine or associate information from other sources with PERSONALLY-IDENTIFIABLE INFORMATION that we collect through tagSurf’s websites, we will treat the combined information as PERSONALLY IDENTIFIABLE INFORMATION. 
  </div>
  <div>
   tagSurf does not disclose PERSONALLY-IDENTIFIABLE INFORMATION other than as described below.  Visitors can always refuse to supply PERSONALLY-IDENTIFIABLE INFORMATION, with the caveat that it may prevent them from engaging in many website-related activities.
  </div>
  <div class="bold">
   Aggregated Statistics
  </div>
  <div>
   tagSurf may collect statistics about the behavior of visitors to its websites. For instance, tagSurf may monitor the most popular content on the tagSurf.co site or use screening services to prevent the upload of spam or Not Safe For Work (NSFW) content to tagSurf. tagSurf may display this information publicly or provide it to others. However, TAGSURF DOES NOT DISCLOSE PERSONALLY-IDENTIFIABLE INFORMATION OTHER THAN AS DESCRIBED BELOW.
  </div>
  <div class="bold">
   Protection of Certain PERSONALLY-IDENTIFIABLE INFORMATION
  </div>
  <div>
   tagSurf discloses potentially personally identifiable and PERSONALLY-IDENTIFIABLE INFORMATION only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on tagSurf’s behalf or to provide services available at tagSurf’s websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using tagSurf’s websites, you consent to the transfer of such information to them. TAGSURF WILL NOT RENT OR SELL POTENTIALLY PERSONALLY-IDENTIFIABLE AND PERSONALLY-IDENTIFIABLE INFORMATION TO ANYONE. 
  </div>
  <div>
   OTHER THAN TO ITS EMPLOYEES, CONTRACTORS AND AFFILIATED ORGANIZATIONS, AS DESCRIBED ABOVE, TAGSURF DISCLOSES POTENTIALLY PERSONALLY-IDENTIFIABLE AND PERSONALLY-IDENTIFIABLE INFORMATION ONLY IN RESPONSE TO A SUBPOENA, COURT ORDER OR OTHER GOVERNMENTAL REQUEST, OR WHEN TAGSURF BELIEVES IN GOOD FAITH THAT DISCLOSURE IS REASONABLY NECESSARY TO PROTECT THE PROPERTY OR RIGHTS OF TAGSURF, THIRD PARTIES OR THE PUBLIC AT LARGE. 
  </div>
  <div>
   If you are a registered user of a tagSurf website and have supplied your email address, tagSurf may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what’s going on with tagSurf and our products. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. tagSurf takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally identifiable and personally identifiable information.
  </div>
  <div class="bold">
   Anonymity
  </div>
  <div>
   Protecting user anonymity is a top priority at tagSurf. tagSurf does not disclose any PERSONALLY-IDENTIFIABLE INFORMATION to non-administrative users of tagSurf websites except as documented by this privacy policy. Any links between your user account and your activity on tagSurf sites are protected through a secure separation on our servers, the key to which is only made available to select tagSurf employees and contractors for use in developing and troubleshooting our services.
  </div>
  <div>
   If you knowingly use your tagSurf account to upload NSFW content, engage in cyber-bullying, or use tagSurf to participate in illegal activities, you waive all anonymity protection and acknowledge that in such cases we may publicly disclose some or all of your account activity in association with your PERSONALLY-IDENTIFIABLE INFORMATION as is necessary to cooperate with law enforcement entities or otherwise stop such behavior as quickly as possible. 
  </div>
  <div class="bold">
   Cookies
  </div>
  <div>
   A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. tagSurf uses cookies to help tagSurf identify and track visitors, their usage of tagSurf website, and their website access preferences. tagSurf visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using tagSurf’s websites, with the drawback that most features of tagSurf’s websites may not function properly without the aid of cookies used to authenticate server requests.
  </div>
  <div>
   tagSurf may also use “pixel tags,” “web beacons,” “clear GIFs” or similar means (individually or collectively “Pixel Tags”) in connection with our services to collect usage, demographic and geographical location data.  A Pixel Tag is an electronic image, often a single pixel, that is ordinarily not visible to users and may be associated with cookies on a user’s hard drive.  Pixel Tags allow us to count users who have visited certain pages of the Site, to deliver branded services and to help determine the effectiveness of promotional or advertising campaigns.
  </div>
  <div class="bold">
   Business Transfers
  </div>
  <div>
   If tagSurf, or substantially all of its assets, were acquired, or in the unlikely event that tagSurf goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of tagSurf may continue to use your personal information as set forth in this policy.
  </div>
  <div class="bold">
   Ads
  </div>
  <div>
   Ads appearing on any of our websites may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by tagSurf and does not cover the use of cookies by any advertisers.
  </div>
  <div class="bold">
   No Children under 13 
  </div>
  <div>
   Although we welcome users from all walks of life, our site is not aimed at children, and the United States government has put limits on our ability to accept users under a certain age through the Children's Online Privacy Protection Act of 1998. Individuals under the age of 13 may not create an account with us. If you believe someone 12 or younger is using our site without parental consent, please contact us at <a class="blue" href="mailto:beta@tagSurf.co">beta@tagSurf.co</a>.
  </div>
  <div class="bold">
   Links to Other Sites
  </div>
  <div>
   Our websites contain links to other websites and online services.  If you choose to visit a third party service or an advertiser by “clicking on” a third party link, you will be directed to that third party’s website or online service.  The fact that we link to a website, content or present a banner ad or other type of advertisement is not an endorsement, authorization or representation of our affiliation with that third party, nor is it an endorsement of their privacy or information security policies or practices.  Other websites and services follow different rules regarding the use or disclosure of the personal information you submit to them.  We encourage you to read the privacy policies or statements of the other websites and services you use.  We do not exercise control over third party websites or services.
  </div>
  <div class="bold">
   Publishing to Other Sites
  </div>
  <div>
   Some tagSurf sites may allow you to upload content for publishing or hosting under your accounts at third party websites and social networks. Content uploaded to third party services through tagSurf is subject to the privacy policies and terms of use of these services. We encourage you to read the privacy policies or statements of the other websites and services you use.  We do not exercise control over third party websites or services.
  </div>
  <div class="bold">
   Security Measures
  </div>
  <div>
   Although tagSurf will take reasonable precautions to keep your PERSONALLY-IDENTIFIABLE INFORMATION private, please be aware that no security measures are perfect or impenetrable. We are not responsible for circumvention of any privacy settings or security measures on the tagSurf. Additionally, we cannot control the actions of other users with whom you may choose to share your information. Further, even after information posted on the Service is removed, caching and archiving services may have saved that information, and other users or third parties may have copied or stored the information available on the Service. We cannot and do not guarantee that information you post on or transmit to the Service will not be viewed by unauthorized persons. 
  </div>
  <div class="bold">
   International Visitors
  </div>
  <div>
   tagSurf’s services are  hosted in the United States and are  intended for visitors located within the United States. If you choose to access our services from the European Union or other regions of the world with laws governing data collection and use that may differ from U.S. law, then please note that you are transferring your PERSONALLY-IDENTIFIABLE INFORMATION outside of those regions to the United States for storage and processing. Also, we may transfer your data from the U.S. to other countries or regions in connection with storage and processing of data, fulfilling your requests, and operating the websites. By providing any information, including PERSONALLY IDENTIFIABLE INFORMATION, to tagSurf you consent to such transfer, storage, and processing. 
  </div>
  <div class="bold">
   Privacy Policy Changes
  </div>
  <div>
   Although most changes are likely to be minor, tagSurf may change its Privacy Policy from time to time, and in tagSurf’s sole discretion. tagSurf encourages visitors to frequently check this page for any changes to its Privacy Policy. In the event that the modifications materially alter your rights or obligations hereunder, we will make reasonable efforts to notify you of the change. For example, we may send a message to your email address, if we have one on file, or generate a pop-up or similar notification the first time you visit a tagSurf website after such material changes are made. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.
  </div>
  <div class="bold">
   Our Contact Information
  </div>
  <div>
   Please contact us with any questions or comments about this Policy, your personal information, our use and disclosure practices, or your consent choices by email at <a class="blue" href="mailto:beta@tagSurf.co">beta@tagSurf.co</a>.
  </div>
  <div>
   PO Box 641384
   <br>
   San Francisco, CA 94164
  </div>
 </div>
 <div class="bigger bottom">
  <div class="forward button">Close</div>
 </div>
</div></div>
<script src="/js/util.js"></script>
<script src="/js/gesture.js"></script>
<script src="/js/modal.js"></script>
<script>
 var removePrivacy = function(direction) {
  if (!direction || !isNaN(direction) || direction == "right") {
   modal.backOff();
   modal.modalOut();
  }
 };
 document.getElementById("privacy-btn").onclick = function() {
  modal.halfOn(removePrivacy);
  modal.modalIn(document.getElementById("privacy"), removePrivacy);
 };
</script>
