<%= render 'shared/authentication' %>

<% if current_user %>

  <div class="row spaced">
    <div class="col-md-10">

      <div class="card-container clearfix">

        <div class="img-container full">
          <% if @card.animated == true %>
              <%= image_tag(@card.link) %>
          <% else %>
              <%= 
                image_tag( "http://i.imgur.com/#{@card.remote_id}.#{RemoteResource.content_type(@card.content_type)}")
              %>
          <% end %>
        </div>
            
        <div class="txt-container"> 
          <%= @card.title %>
        </div> 

      </div> 


    </div>
  </div>

  <%= render 'shared/voting', object: @card %>

<% end %>
