<%= render 'shared/authentication' %>

<% if current_user %>

  <div class="row spaced">
    <div class="col-md-6">

       <div class="card-container clearfix">

          <div class="img-container">
            <% if @card.animated == true %>
              <%= link_to(@card) do %>
                <%= image_tag(@card.link) %>
              <% end %>
            <% else %>
              <%= link_to(@card) do %>
                <%= 
                  image_tag( "http://i.imgur.com/#{@card.remote_id}.#{RemoteResource.content_type(@card.content_type)}") 
                %>
              <% end %>
            <% end %>
          </div>

          <div class="txt-container">
            <%= @card.title %>
          </div>

       </div>

    </div>
  </div>

  <%= render 'shared/voting', object: @card %>

<% end %>
