<!DOCTYPE html>
<html>
<head>
  <%= content_for :title %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:200">
  <%= favicon_link_tag '/img/ts_icon_grey_50.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '50x50' %>
  <%= favicon_link_tag '/img/ts_icon_grey_120.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '120x120' %>
  <%= favicon_link_tag '/img/ts_icon_grey_152.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '152x152' %>
  <%= content_for :stylesheets %>
  <%= csrf_meta_tags %>
</head>
<body>
 
  <% flash.each do |name, msg| %>
    <%# if msg.is_a?(String) %>
      <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <%# end %>
  <% end %>

  <%= yield %>

  <%= content_for :javascripts %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-50411715-1', 'tagsurf.co');
    ga('send', 'pageview');
  </script>

</body>
</html>
