<!DOCTYPE html>
<html>
<head>
  <%= content_for :title %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="mobile-web-app-capable" content="yes">
  
  <% if @media %>
    <meta property="og:url" content='<%= request.original_url %>' />
    <meta property="og:title" content='<%= @media.title %>' />
    <meta property="og:site_name" content='<%= "tagSurf" %>' />
    <meta property="og:description" content='<%= @media.description %>' />
    <meta property="og:image" content="<%= @media.image_link_original %>" />
    <meta property="og:image:type" content="<%= @media.content_type %>" />
    <meta property="og:image:width" content="<%= @media.width %>" />
    <meta property="og:image:height" content="<%= @media.height %>" />
    <meta property="fb:app_id" content="676135635790285" />
  <% end %>

  // <script type="text/javascript">
  //   (function(document,navigator,standalone) {
  //     // prevents links from apps from oppening in mobile safari
  //     // this javascript must be the first script in your <head>
  //     if ((standalone in navigator) && navigator[standalone]) {
  //       var curnode, location=document.location, stop=/^(a|html)$/i;
  //       document.addEventListener('click', function(e) {
  //         curnode=e.target;
  //         while (!(stop).test(curnode.nodeName)) {
  //           curnode=curnode.parentNode;
  //         }
  //         // Condidions to do this only on links to your own app
  //         // if you want all links, use if('href' in curnode) instead.
  //         if(
  //           'href' in curnode && // is a link
  //           curnode.href !== '' && // test if href is empty (is JS handled link)
  //           (chref=curnode.href).replace(location.href,'').indexOf('#') && // is not an anchor
  //           ( !(/^[a-z\+\.\-]+:/i).test(chref) ||                       // either does not have a proper scheme (relative links)
  //             chref.indexOf(location.protocol+'//'+location.host)===0 ) // or is in the same protocol and domain
  //         ) {
  //           e.preventDefault();
  //           location.href = curnode.href;
  //         }
  //       },false);
  //     }
  //   })(document,window.navigator,'standalone');
  // </script>

  <!-- iOS Device Startup Images -->
  <!-- iPhone/iPod Touch Portrait – 320 x 480 (standard resolution) -->
  <link rel="apple-touch-startup-image" href="/img/ts_splash_screen.png" media="screen and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 1)" />

  <!-- iPhone/iPod Touch (high-resolution) Portrait – 640 x 920 pixels -->
  <link rel="apple-touch-startup-image" href="/img/iphone-startup-640-960.png" media="screen and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2)" />

  <!-- iPhone5 high-resolution) Portrait – 640 x 1136 pixels -->
  <link rel="apple-touch-startup-image" href="/img/iphone-startup-640-1136.png" media="screen and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2)" />

  <!-- iPad Landscape 1024x748 -->
  <link rel="apple-touch-startup-image" sizes="1024x748" href="/img/ipad-startup-1024-768.png" media="screen and (min-device-width: 700px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 1)" />

  <!-- iPad Portrait 768x1004 -->
  <link rel="apple-touch-startup-image" sizes="768x1004" href="/img/ipad-startup-768-1024.png" media="screen and (min-device-width: 700px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 1)"/>

  <!-- iPad (high-resolution Landscape – 2048 x 1496 pixels ) -->
  <link rel="apple-touch-startup-image" sizes="2048x1496" href="/img/ipad-startup-2048-1536.png" media="screen and (min-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)" />

  <!-- iPad (high-resolution) Portrait – 1536 x 2008 pixels -->
  <link rel="apple-touch-startup-image" sizes="1536x2008" href="/img/ipad-startup-1536-2048.png" media="screen and (min-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)" />

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,500" />
  <%= favicon_link_tag '/img/ts_icon_gray_50.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '50x50' %>
  <%= favicon_link_tag '/img/ts_icon_gray_72.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
  <%= favicon_link_tag '/img/ts_icon_gray_114.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %> 
  <%= favicon_link_tag '/img/ts_icon_gray_120.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '120x120' %>
  <%= favicon_link_tag '/img/ts_icon_gray_150.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '150x150' %>
  <%= favicon_link_tag '/img/ts_icon_gray_196.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '196x196' %>
  <%= content_for :stylesheets %>
  <link rel="shortcut icon" sizes="196x196" href="/img/ts_icon_gray_196.png">
  <link rel="stylesheet" href="/css/notifications.css" /> 
  <%= csrf_meta_tags %>
</head>
<body>
 
  <% flash.each do |name, msg| %>
    <div id="alertContainer" ontouchstart="hideAlert(event);" class="alert shadow bottom-rounded">
      <% if msg.is_a?(Array) %>
        <% msg.each do |message| %>
          <%= content_tag :div, message, class: "flash #{name}" %>
        <% end %>
      <% else %>
        <%= content_tag :div, msg, class: "flash" %>
      <% end %>
    </div>
  <% end %>

  <%= yield %>

  <%= content_for :javascripts %>

  <script src="/js/global.js"></script>

  
  <script type="text/javascript">
    window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
    window.analytics.load("j11tequxw2");
    window.analytics.page();
  </script>


</body>
</html>
